* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px #000;
}

:root {
  --white: #fff;
  --grey-white: #ccc;
  --black: #000;
  --blue: blue;

  --font-size-very-big: 45px;
  --font-size-big: 32px;
  --font-size-middle: 24px;
  --font-size-text: 17px;

  --rounded: 50%;
  --raduis: 12px;
}

body {
  background-color: var(--white);
  height: 100vh;
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slide-right {
  transform: translateX(1000px);
  opacity: 0;
  transition: 0.5s linear;
}

.slide-left {
  transform: translateX(-1000px);
  opacity: 0;
  transition: 0.5s linear;
}

.slide-right.show,
.slide-left.show {
  transform: translateX(0px);
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .slide-right {
    transform: translateX(0);
    opacity: 0;
    transition: 0.5s linear;
  }

  .slide-left {
    transform: translateX(0);
    opacity: 0;
    transition: 0.5s linear;
  }

  .slide-right.show,
  .slide-left.show {
    opacity: 1;
  }
}
