.wrapper {
  position: relative;
  gap: 50px;
}

.line {
  width: 200px;
  height: 0;
  border: 1px solid var(--black);
}

.town1 {
  width: 100vw;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: var(--font-size-very-big);
  color: var(--black);
}

.town1Description {
  width: 50%;
  text-align: center;
  font-size: var(--font-size-text);
}

.townDiv {
  gap: 15px;
}

.towns {
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  background-color: var(--white);
  gap: 10px;
}

.towns p {
  width: 20%;
  font-size: var(--font-size-text);
}

.town2 {
  width: 350px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: var(--font-size-big);
  color: var(--black);
}

@media screen and (max-width: 800px) {
  .town1Description {
    width: 90%;
  }
  .townDiv {
    flex-direction: column;
  }
  .towns p {
    text-align: center;
    width: 90%;
    order: 2;
  }

  .town2 {
    order: 1;
  }
}
