.footer {
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  box-shadow: 2px 2px 5px var(--black);
}

.footerRow {
}

.flags {
  gap: 20px;
}

.flag {
  max-width: 300px;
  width: 60%;
  box-shadow: 5px 5px 10px var(--black);
}

.arms {
  max-width: 125px;
  width: 60%;
  border-radius: var(--rounded);
  box-shadow: 5px 5px 10px var(--black);
}

.description {
  font-size: var(--font-size-big);
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}